.content {
}

/* Estilo general del contenedor de las cards */
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center; /* Opcional: Centra las cards horizontalmente */
	gap: 20px; /* Espacio entre las cards */
	padding: 20px;
	background-color: #f4f4f4;
	flex-wrap: nowrap; /* Asegura que las cards no se envuelvan */
	overflow-x: auto; /* Permite desplazamiento horizontal si las cards no caben en la pantalla */
}

/* Estilo de las cards individuales */
.card {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	padding: 20px;
	text-align: left;
	transition: transform 0.3s, box-shadow 0.3s;
	flex-shrink: 0; /* Evita que las cards se encojan si hay muchas en una fila */
}

/* Efecto hover para las cards */
.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para el título dentro de las cards */
.card-title {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #333333;
}

/* Estilo para la descripción dentro de las cards */
.card-description {
	font-size: 1em;
	color: #666666;
	line-height: 1.5;
}
