body{
    margin: 0;
    padding-left: 90px;
    padding-right: 60px;
    padding-top: 120px;
    margin-bottom: 1000px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 8px;
}


.collab-projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.collab-projects-container{
    background-color: #256d7b;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 2px 2px 2px 2px;
    margin: 8px 4px 0 4px;
    border-radius: 10px;
}
.user-icon{
    height: 36px;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
}
.project-info{
    background-color: #739ba5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.project-title{
    margin-top: 5px;
    margin-bottom: 5px;
}
.project-title:hover{
    cursor: pointer;
}

.project-author{
    font-size: 12px;
    color: rgb(80, 80, 80);
    display: grid;
    grid-template-columns: 40px 1fr;
    background-color: #87b7c4;
    border-bottom-right-radius: 10px;
}
.logo-container{
}
.project-logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.page-title {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.title{
    margin: 0;
    display: block;
    background-color: #739ba5;
    width: 100%;
    color: white;
}
.search-bar{
    width: 500px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    background-color: #739ba5;
    
}
.input-search-bar{
    flex: 1;
    height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 14px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    padding-left: 5px;
}
.search-button{
    height: 29px;
    width: 29px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 50%;
    margin-left: 5px;
}
.search-icon{
    margin-top: 2px;
}


